:host {
  display: flex;
  margin-top: 1rem;

  table, th, td {
    border: 1px solid var(--border-color);
  }

  table {
    border-collapse: collapse;
    min-width: 25rem;
    font-size: 0.9rem;
  }

  thead th:nth-child(1) {
    width: 10rem;
  }
}
