:host {
  display: flex;

  button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    font-size: 1rem;
    border-left: 1px solid;
    border-right: 1px solid transparent;
    background-color: transparent;

    svg {
      margin: auto;
    }
  }

  .input-group {
    display: flex;
    position: relative;
  }

  input {
    padding: 0 2rem 0 0.5rem;
    border: 1px solid;
    height: 2rem;
    border-radius: 0.2rem;
  }
}
